.my-info {

    padding-top: 2rem;
    max-width: 1280px;
    margin-inline: auto;
    padding-bottom: 20px ;
}

.my-line {

    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255, 0.15);
}
.my-items-wrapper {

    display: flex;
    margin-top: 3rem;
    gap: 1.5rem;
    margin-top: 3rem;
    padding-inline: 1.25rem;
}

.my-item {

    flex: 1;
    min-width: 150px;
}

.my-item__title {

    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.item-description {

    color: rgb(255,255,255,0.7);
    text-transform: uppercase;
    text-align: center;
}


.my-info-wrapper {

    display: flex;
    margin-top: 4rem;
    padding-inline: 1.25rem;
    gap: 1.5rem;
}

.my-info__left {

    flex: 1;

}

.my-info__right {

    align-self: center;
    flex: 1;
    

}

.my-section__up-text {

    color: #2eb1a3;
    text-transform: uppercase;
    font-weight: 700;
}

.my-section__title {

    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 500;
}

.my-section__description {

    color: rgb(255,255,255,0.7);
    line-height: calc(1em + 0.7rem);
    margin-block: 1rem;
}

.my-section__btn {

    background: linear-gradient(to right , #E8546B , #ac3cf6 );
    padding: 0.5em 2rem;
    border-radius: 6px;
    color: #000;
}

@media (width < 1024 ) {

    .my-info-wrapper {

        flex-direction: column;
    }
    .my-section__description {

        max-width: 60ch;
    }
}

@media (width < 460px) {

    .my-hero__title {

        font-size: 2rem ;
    }
}