*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    font: inherit;
}

.container {

    max-width: 1280px;
    margin-inline: auto;
}

body {
    background-color: #06061a;
    color: #f3f3f3;
    min-height: 100vh;
    
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.025em;
}
